<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<footer class="site-footer border-top" th:fragment="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Điều hướng</h3>
          </div>
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li><a href="/">Trang chủ</a></li>
              <li><a href="/danh-sach-san-pham">Sản phẩm</a></li>
              <li><a href="/lien-he">Liên hệ</a></li>
              <li><a href="/tra-cuu-don-hang">Tra cứu đơn hàng</a></li>
              <li><a href="/gio-hàng">Giỏ hàng</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Danh mục sản phẩm</h3>
          </div>
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li th:each="category : ${categories}">
                <a th:href="@{/danh-sach-san-pham?danh-muc={categoryURL}(categoryURL=${category.url})}"
                  th:text="${category.name}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Thông tin liên hệ</h3>
          <ul class="list-unstyled">
            <li class="address">197 Nguyễn Trãi, Hà Đông, Hà Nội</li>
            <li class="phone"><a href="tel:0383515029">0383515029</a></li>
            <li class="email"><a href="mailto:nnk240104@gmail.com">nnk240104@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">

      </div>
    </div>
  </div>
</footer>