<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<div th:fragment="content">
    <div class="card mb-4">
        <div class="card-header">
            <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas"
                data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor"
                    d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z">
                </path>
            </svg>
            <span th:text="${contentName}"></span>
        </div>
        <div class="card-body">
            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                <div class="datatable-top">
                    <div class="datatable-dropdown">
                        <a class="btn btn-outline-success" href="/admin/category/add"><i class="fa-solid fa-plus"></i>&nbsp;Thêm mới</a>
                    </div>
                    
                </div>
                <div class="datatable-container">
                    <table id="datatablesSimple" class="datatable-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên danh mục</th>
                                <th>Đường dẫn</th>
                                <th>Ảnh</th>
                                <th>Người tạo</th>
                                <th>Thời gian tạo</th>
                                <th>Người cập nhật cuối</th>
                                <th>Thời gian cập nhật cuối</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="category : ${data}">
                                <td th:text="${category.id}"></td>
                                <td th:text="${category.name}"></td>
                                <td th:text="${category.url}"></td>
                                <td>
                                    <div th:if="${category.image != null}">
                                        <img th:src="@{'data:image/jpg;base64,' + ${category.base64Image}}"
                                             style="max-width: 100px; max-height: 200px;" alt="Category Image"  src=""/>
                                    </div>
                                </td>
                                <td th:text="${category.createdBy}"></td>
                                <td th:text="${category.createdTime}"></td>
                                <td th:text="${category.lastUpdatedBy}"></td>
                                <td th:text="${category.lastUpdatedTime}"></td>
                                <td>
                                    <label>
                                        <select class="datatable-selector" name="status"
                                            th:attr="onchange='changeStatus(this.value, \'' + ${category.id} + '\')'">
                                            <option value="0" th:selected="${category.status == 0}">Không được hoạt
                                                động</option>
                                            <option value="1" th:selected="${category.status == 1}">Được hoạt động
                                            </option>
                                        </select>
                                    </label>
                                </td>
                                <td><a th:href="@{/admin/category/edit/{id}(id=${category.id})}"
                                        class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Sửa</a>
                                    <a th:href="@{/admin/category/delete/{id}(id=${category.id})}"
                                        class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>&nbsp;Xóa</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="datatable-bottom">
                    <div class="datatable-info">
                        Hiển thị từ <span th:text="${(currentPage-1)*size+1}"></span> đến <span
                            th:text="${currentPage*size}"></span> của <span th:text="${totalItems}"></span>
                        bản ghi
                    </div>
                    <nav class="datatable-pagination">
                        Trang:
                        <label for="page"></label><select class="datatable-selector" id="page">
                            <option
                                th:each="number : ${#numbers.sequence(1, (totalItems % size == 0 ? totalItems / size : totalItems/size + 1))}"
                                th:value="${number}" th:text="${number}" th:selected="${currentPage == number}">
                            </option>
                        </select>
                        <script>
                            function goToPage() {
                                value = document.getElementById("page").value
                                if (value == '1') {
                                    window.location.href = "/admin/category"
                                }

                                else {
                                    window.location.href = "/admin/category?page=" + value
                                }
                            }
                        </script>
                        <button class="datatable-selector" onclick="goToPage()">Tải</button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function changeStatus(status, id) {
            if (confirm('Đổi trạng thái ?')) {
                window.location.href = '/admin/category/change-status/' + id + '?status=' + status;
            }
        }
    </script>
</div>